

/* MENU */
header {
    background-color: #098D97;
    height: 140px;
}

.container-grid {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

.posicionamento-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}


.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;   
}

.barras {
    width: 30px;
    display: none;
}

/* BANNER */
.banner {
    background-image: url(../img/banner.png);
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    margin-left: -20px;
}

.itens-banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .texto-banner {
        text-align: center;
        width: 1900px;
        color: white;
        font-family: "Arial";
        font-weight: bold;
        font-size: 20px;    
    }
    /* PRODUTOS */
    
    .secao-produtos {
        background-color: black;
        width: 100%;
        height: 800px;
        /* display: flex;
        flex-wrap: wrap; */
    }
    .produtos-flex {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 100px;
    padding-left: 120px;
    padding-top: 40px;
    margin-left: 240px;
    margin-right: 240px;

    }
    .secao-produtos h1 {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding-top: 50px;
        font-family: "Arial";
        font-weight: bold;
        font-size: 40px;
    }

    .produtos {
        padding-top: 20px;
    }

    .produto-item{
        width: 400px;
        height: 300px;
        padding: 30px 30px;   
    }

.secao-produtos .produtos-flex .produto-item {
    border-radius: 45px;
}

/* CLIENTES */

.secao-clientes {
    width: 1920;
    height: 700px;
    background-color: black;
}

.secao-clientes h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 40px;  
}

.clientes-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-top: 40px;
}

.clientes1 {
    padding-right: 150px;
}


/* NOTICIAS */

.noticias {
    display: flex;
    justify-content: space-between;
}

.secao-noticias {
    background-color:#098D97;
    padding: 30px 0 ;
}

.secao-noticias .container {
    display: flex;
    justify-content: space-between;
}

.bloco-noticias{
    width: 70%;
    height: 90%;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 257px;
    margin-right: 257px;
}

.bloco-noticias h2 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Arial";
    font-weight: bold; 
}

.content-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cardnews {
    width: 15em;
    height: 22.5em;
    background: var(--gradient);
    color: black;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0),0px 0px 30px rgb(0, 0, 0);
}

.texto-card {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    padding: 0 20px;
}

.texto-card a {
    background-color:white;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px; 
}

.cardnews img {
    width: 100%;
}

.cardnews h3{
    padding-top: 5px;
    font-size: 24px;
}
.cardnews p{
    font-size: 16px;
}


/* RODAPE */

.footer {
    background-color: #098D97;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.atendimento {
    padding-top: 40px;
    padding-left: 100px;
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.email {
    padding-top: 20px;
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.redes {
    padding-top: 20px;
    width: 300px;  
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;  
    font-size: 20px;
}

.redes-sociais {
    list-style-type: none;
    display: flex;
    padding-top: 0px;
    padding-left: 0px;
}

.redes-sociais li {
    padding-left: 20px;
}

.redes h3 {
    padding-left: 70px;
}


